<!doctype html>

<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
  * {
    padding: 0px;
    margin: 0;
    font-family: Century Gothic;
    font-size:18px;
  }
  .fit { /* set relative picture size */
    max-width: 80%;
    max-height: 100%;
  }
  .fitfull { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
  }
  .center {
    display: block;
    margin: auto;
  }
  td {
    padding: 2px;
  }
</style>
  <meta charset="utf-8">

  <title>Home Affordability with Airbnb</title>

  <meta name="description" content="Home Affordability with Airbnb">
  <meta name="author" content="Galvanize - John Kim">

  <script type="text/javascript"
          src="{{ url_for('static', filename='jquery.js') }}">
  </script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='app.js') }}">
  </script>

</head>
<body>
  <img class="center fit"  src='https://s3-us-west-2.amazonaws.com/airbnbpredictors3/main_banner_v01.gif'>


  <table class="center fit" cellpadding=0>
    <tr>
      <td valign=top width=250>
      <img class="fitfull" src='https://s3-us-west-2.amazonaws.com/airbnbpredictors3/left_rooms.png'>
      </td>
      <td valign=top width=20>
      </td>
      <td valign=top align=left>
        <h1>Home Affordability with Airbnb</h1>
        <p>Home affordability continues to be a major challenge in many metropolitan areas.
          With housing prices outpacing wages and escalating student debt levels,
          it has become increasingly difficult for prospective home buyers to fulfill
          the American dream.</p><br>

        <p>Fortunately, homeowners now have the option to Airbnb spare rooms in their new
          homes to help pay for the mortgage. </p><br>

        <p>Using machine learning models, this projects aims to estimate the monthly
           income from renting our a room on Airbnb. </p>

      </td>
      <td valign=top width=50>
      </td>
      <td valign=top align=left width=450>
        <h1>Prediction</h1>

        <table>
          <tr>
            <td>
              <div class="form-group">
                <label for="lat">Latitude:</label>
                <input class="form-control" type="text" id="lat" style="font-size : 20px"></input>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="lng">Longitude:</label>
                <input class="form-control" type="text" id="lng" style="font-size : 20px"></input>
              </div>
          </td>
            <td colspan=2 valign=bottom>
              <div class="form-group">
                <button type="button" id="predict" class="btn btn-default" style="font-size : 15px">Predict!</button>
              </div>
            </td>
          </tr>
       </table>
       <!-- Image placeholder
       <img class="fit center" src='https://s3-us-west-2.amazonaws.com/airbnbpredictors3/ex_55.png'>
       <img class="fit center" src='monthly_income.png'>

       <span style="font-size:30px;font-family:impact;color=#D8D8D8">$</span>
       -->

       <span id="predict" style="font-size:30px;font-family:impact;color:#0099DF"></span>
      </td>
      <td width=15></td>
    </tr>
  </table>


</body>
</html>
